@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700,400italic);
html, body{
    font-family: "Source Sans Pro", "Helvetica Neue", "Arial", sans-serif;
    font-size: 14px;
    height: 100%;
	display:block;
}
body{
	background: url('../../_assets/img/bg.jpg') no-repeat 0px bottom;
    background-attachment: fixed;
	background-size:cover;
}
.center{
    float:none;
    margin: 0 auto;
}

